{% include 'base.html' %}




<body>
    {% include 'navbar.html' %}
    {% block content %}

    
    
    <section class="body">
        <div class="left_column">
            <h1> Hello {{user_proxy.first_name}}, </h1>
            <div>
                <h5> Name: {{user_proxy.first_name}} {{user_proxy.last_name}} </h5>
            </div>
            <div>
                <h5> E-mail adress: {{user_proxy.email}} </h5>
            </div>
            <div> 
                <h5>Phone number: {{user_proxy.phone_number}} </h5>
            </div>

            <div class="button-container">
                <a type="submit" href="/questionnaire" class="button">Create new training</a>
            </div>

            <div>
                <h6>or write to support to consultation</h6>
            </div>

        </div>
        <div class="right_column">
            <div>
                <div>
                    <h5> Order list: </h5>
                </div>
                <div>
                    {% for order in orders %}
                        {% if order.visible == True %}

                            <div class="order_container">
                                <div>
                                    <h5>#{{order.order_id}} </h5>
                                    <h5>order status: {{order.order_status}} </h5>
                                    <h5>pay price: {{order.pay_price}} </h5>
                                    <h5>created at: {{order.created_at}} </h5>
                            
                                <div>
                                <div>
                                    <a type="submit" href="/orders/{{order.order_id}}/" class="button_order">view order #{{order.order_id}}</a>
                                </div>
                            </div>


                        {% endif %}
                        
                    {% endfor %}
                </div>



            </div>
        </div>

        <div class="home-content">

        </div>

        
    </section>
    


</body>
{% endblock %}

</html>