{% include 'base.html' %}

<body>
    {% include 'navbar.html' %}
    {% block content %}
    <section class="home">
        <div class="home-content">
            <form method="post">
                {% csrf_token %}
                <table>
                    <div>
                        <input type="email", name='email', placeholder='email'>email</input>
                      
                    </div>
                    <div>
                        <input type="password" name='password' placeholder='password'>password</input>
                        
                    </div>
                    <div>
                        <input type="text" name='name' placeholder='name'>name</input>
                        
                    </div>
                    <div>
                        <input type="phone", name='phone', placeholder='phone'>phone number</input>
                      
                    </div>
                    <div>
                        <input type="date", name='date', placeholder='date'>date birthday</input>
                      
                    </div>
                    <div>
                        <button type="submit">Register</button>
                      
                    </div>
                
              </form>
        </div>
    </section>
    


</body>
{% endblock %}

</html>